.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #636263;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li:last-child {
    margin-right: 0;
  }
  
  .navbar-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-menu a:hover {
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
  }
  
  .navbar-menu a.active {
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
  }
  
  .navbar-search input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
  }
  
  .navbar-search button {
    background-color: #0077b5;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar-search button:hover {
    background-color: #005f8a;
  }
  
  .navbar-search i {
    font-size: 16px;
  }
  
  .navbar-auth a {
    margin-left: 20px;
    color: #fafafa;
    text-decoration: none;
  }
  
  .navbar-auth a:hover {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 768px) {
    .navbar-menu {
      display: none;
    }
    
    .navbar-search {
      margin-left: auto;
    }
    
    .navbar-auth {
      margin-left: 20px;
    }
    
    .navbar-toggle {
      display: block;
      font-size: 24px;
      color: #333;
      cursor: pointer;
      margin-left: auto;
    }
  }
  .register {
    background-color: #393b8d;
    padding: 10px 20px;
    margin: auto;
    border: 1px solid #393b8d;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
  }
  
  .register:hover {
    background-color: #0f3a97;
    border: 1px solid #0051ff;
    color: #ffffff;
    font-weight: bold;
  }
  .red {
    color: #f80000;
  }
/* The hero section */
.hero {
    background-image: url('/static/images/bg-3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    text-align: center;
    color: #50c2ca;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  .btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0d0c4b;
    color: #fff;
  }

  /* testmonials */
  #customer-testimonials {
    text-align: center;
    padding: 50px 0;
  }
  
  .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-top: 30px;
  }
  
  .testimonial {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .testimonial:hover {
    transform: translateY(-5px);
  }
  
  .testimonial-content {
    margin-bottom: 20px;
  }
  
  .testimonial-author {
    display: flex;
    align-items: center;
  }
  
  .testimonial-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .testimonial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .testimonial-name {
    font-weight: bold;
    margin: 0;
  }
  
  .testimonial-job {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  /* footer */
  footer {
    background-color: #636263;
    color: #fff;
    padding: 50px 0;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    width: 30%;
    margin-bottom: 30px;
  }
  
  .footer-column h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .footer-column p {
    margin: 0;
    line-height: 1.5;
  }
  
  .social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media a {
    color: #fff;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .social-media a:hover {
    transform: translateY(-5px);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
  }
  
  .form-control:focus {
    outline: none;
    border-bottom: 2px solid #777;
  }
  
  .btn-primary {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #777;
    color: #fff;
  }
  
  .footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
    font-size: 16px;
  }

  /* courses.html */
  .container {
    margin-top: 50px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 0;
    height: 400px; /* set a fixed height for the card */
  }
  
  .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card-img-top {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  
  /* Default course cover image */
  .card-img-top[src$='default-course-cover.jpg'] {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #a7a7a7;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-footer {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  /* Make all cards the same height */
  .card-body {
    height: 150px; /* set a fixed height for the card body */
    overflow: hidden; /* add overflow:hidden to hide any content overflowing beyond the height */
  }
  .card a {
    text-decoration: none;
    color: inherit;
  }

/* course detail layout */
.info-container {
  width: 85%;
  background-color: yellow;

}
.course-info-section {
  background-color: #dee0e0;
  color: #000;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 99%;
}

.course-duration-section {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.course-duration-section .course-info-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.course-duration-section .course-info-item i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.course-duration-section .course-info-item .course-duration {
  font-size: 1.2rem;
}

.course-pace-section {
  display: flex;
  align-items: center;
}

.course-pace-section .course-info-item {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.course-pace-section .course-info-item i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.course-pace-section .course-info-item .course-pace {
  font-size: 1.2rem;
  margin-right: 15rem;
}

.course-pace-section .course-info-item .progress-text {
  color: #aaa;
  font-size: 0.8rem;
}

.progress-section i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  margin-bottom: 2.5rem;
}

.course-card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  width: 400px;
  height: 500px;
  margin-top:1px;

}

.course-card-heading {
  background-color: #636263;
  color: #fff;
  padding: 1rem;
}

.course-card-heading h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.course-card-date {
  font-size: 0.9rem;
  display: block;
  margin-top: 0.5rem;
}

.course-card-body {
  padding: 1rem;
}

.course-card-body p {
  margin: 0;
  font-size: 1.2rem;
}

.course-card-body ul {
  margin-top: 1rem;
  margin-bottom: 0;
}

.course-card-body li {
  list-style: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.course-card-footer {
  background-color: #f44336;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.enroll-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s;
}

.enroll-button:hover {
  background-color: #fff;
  color: #f44336;
}

/* Style for the main navigation */
.main-nav {
  position: sticky;
  top: 0;
  background-color: #1d6e74;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  z-index: 1;
  height: 4rem;
  margin-bottom: 2.5rem;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  align-items: center;
}

.main-nav li {
  margin-right: 1rem;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-nav a:hover {
  color: #333333;
}

/* Style for the main sections */
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: justify;
  font-size: 70px;
  align-items: justify;
  height: calc(100vh - 4rem);
  margin-right: 10rem;
  margin-left: 10rem;
}

.main-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.main-section p {
  font-size: 1.2rem;
  text-align: justify;
}

/* Style for the instructor cards */
.instructors-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.instructor-card {
  display: flex;
  background-color: #09666d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;
}

.instructor-image {
  display: block;
  margin: 15px;
  width: 70%;
  height: 150;
  object-fit: cover;
  border-radius: 70%;
}

.instructor-info {
  padding: 1rem;
  text-align: center;
}

.instructor-name {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.instructor-job {
  margin: 0;
  color: #999;
}

/* user authentication */

.signin-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.signin-form h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.signin-form .form-group {
  margin-bottom: 20px;
}

.signin-form label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.signin-form input[type="text"],
.signin-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signin-form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signin-form button[type="submit"]:hover {
  background-color: #0069d9;
}

/* logout */

.logout-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logout-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.logout-container p {
  margin-bottom: 20px;
  font-size: 18px;
}

.logout-buttons {
  display: flex;
  justify-content: space-between;
}

.logout-buttons .btn {
  width: 48%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-buttons .btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.logout-buttons .btn-primary:hover {
  background-color: #0069d9;
}

.logout-buttons .btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.logout-buttons .btn-danger:hover {
  background-color: #c82333;
}

/* signup page layout */

.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.signup-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0069d9;
}

/* chatbot */

/* CHATBOX
=============== */
/* Chat Window Styles */
/* Chat icon styles */

#chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  cursor: pointer;
}

#chatbot-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Chat window styles */

#chat-window {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9998;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#chat-window .chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #007bff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#chat-window .chat-header .avatar-container {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#chat-window .chat-header .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#chat-window .chat-header .name-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chat-window .chat-header .name {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

#chat-window .chat-header .status {
  font-size: 12px;
  color: #fff;
}

#chat-window .chat-header .close-button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

#chat-window .chat-container {
  height: 250px;
  overflow: auto;
  padding: 10px;
}

#chat-window .chat-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

#chat-window .chat-message.bot-message {
  align-items: flex-end;
}

#chat-window .chat-message .avatar-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#chat-window .chat-message .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#chat-window .chat-message .message-container {
  max-width: 250px;
  border-radius: 10px;
  padding: 10px;
  background-color: #f5f5f5;
}

#chat-window .chat-message.bot-message .message-container {
  background-color: #007bff;
  color: #fff;
}

#chat-window .chat-message .message-text {
  word-wrap: break-word;
  font-size: 14px;
}

#chat-window .chat-message .message-metadata {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
}

#chat-window .chat-message .message-metadata .timestamp {
  margin-left: 10px;
}

#chat-window .input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

#chat-window .input-container .avatar-container {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#chat-window .input-container .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#chat-window .input-container .message-container {
  flex-grow: 1;
}

#chat-window .input-container input {
  flex-grow: 1;
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
  font-size: 14px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#chat-window .input-container .send-button {
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#chat-window .input-container .send-button i {
  margin-top: 3px;
}

#chat-window .input-container .send-button:hover {
  background-color: #0069d9;
}

#chat-window .chat-header .status {
  margin-top: 5px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

#chat-window .chat-header .status img {
  width: 100%;
  height: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#message {
  position: fixed;
  bottom: 80px;
  right: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
}

/* courses enrollment */

.enrolled-course-card:hover {
  filter: blur(2px);
}
.enrolled-course-card:hover .enrolled-course-card-button {
  display: block;
}
.enrolled-course-card-button {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 1;
}

/* classroom style */

/* Add CSS styles for the site header */
header {
	background-color: #333;
	color: white;
	height: 80px;
	position: relative;
	z-index: 2; /* Set a higher z-index than the navigation bar and video container */
}

.site-header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	padding: 0 20px;
}

.site-header-content h1 {
	margin: 0;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

header nav a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: white;
}

/* Add CSS styles for the navigation bar */
.classroom-navbar {
	background-color: #f2f2f2;
	height: 60px;
	position: relative;
	z-index: 1; /* Set a lower z-index than the header and footer */
  padding-top: 15px;
}

.classroom-navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

/* Add CSS styles for the active chapter */
.classroom-navbar a.active {
	background-color: #4CAF50;
	color: white;
}

/* Add CSS styles for the chapter links */
.classroom-navbar a {
	margin: 0;
	padding: 10px;
	text-decoration: none;
	color: black;
}

/* Add CSS styles for the video container */
.classroom-video-container {
	margin-top: 60px;
  margin-bottom: 10px;
	position: relative;
	z-index: 0; /* Set a lower z-index than the header and navigation bar */
}

/* Add CSS styles for the video player */
#classroom-video-player {
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 800px;
}

/* Add CSS styles for the site footer */
footer {
	background-color: #333;
	color: white;
	padding: 10px;
	position: relative;
	z-index: 2; /* Set a higher z-index than the navigation bar and video container */
}

