{% extends 'base.html' %}
{% load static %}
{% block title %}
  Rapidedu - An easy way to learn
{% endblock %}
{% block content %}
<section class="hero">
    <div class="hero-content">
      <h1>Welcome to <i>RapidEdu</i></h1>
      <h3>An easy way to <i>learn</i>.</h3>
      <p>Learn more about our Courses.</p>
      <a href="{% url 'courses' %}" class="btn">Browse Courses</a>
    </div>
  </section>
  <section id="customer-testimonials">
    <h2>Customer Testimonials</h2>
    <div class="testimonials-container">
      <div class="testimonials-grid">
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"I am a marketing director at Apple, and I have been using the courses website to help me learn new skills and stay up-to-date on the latest trends. The courses are well-designed and easy to follow, and the instructors are experts in their fields. I have learned a lot from the courses, and I have been able to apply what I have learned to my job. I would highly recommend the courses website to anyone who wants to learn new skills or advance their career."
            </p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/apple.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Ava Lee</p>
              <p class="testimonial-job">Marketing Director</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>""I am an IT manager at eBay, and I have been using the courses website to help me learn new skills and stay up-to-date on the latest trends in IT. The courses are well-designed and easy to follow, and the instructors are experts in their fields. I have learned a lot from the courses, and I have been able to apply what I have learned to my job. I would highly recommend the courses website to anyone who wants to learn new skills or advance their career in IT."

            </p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/ebay.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">William Garcia</p>
              <p class="testimonial-job">IT Manager</p>
            </div>
          </div>
        </div>
        <!-- Add more testimonials here -->
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"I am a sales manager at Google, and I have been using the courses website to help me learn new skills and stay up-to-date on the latest trends in sales. The courses are well-designed and easy to follow, and the instructors are experts in their fields. I have learned a lot from the courses, and I have been able to apply what I have learned to my job. I would highly recommend the courses website to anyone who wants to learn new skills or advance their career in sales."
            </p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/google.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Ava Lee</p>
              <p class="testimonial-job">Sales Manager</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"I am an accountant at Meta, and I have been using the courses website to help me learn new skills and stay up-to-date on the latest accounting trends. The courses are well-designed and easy to follow, and the instructors are experts in their fields. I have learned a lot from the courses, and I have been able to apply what I have learned to my job. I would highly recommend the courses website to anyone who wants to learn new skills or advance their career in accounting."
            </p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/meta.jpg' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Charlotte Ali</p>
              <p class="testimonial-job">Accountant</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"I have been extremely impressed with the quality and breadth of courses offered by RapidEdu.com. As an HR Manager at YouTube, I am always looking for ways to help our employees develop their skills and advance their careers, and RapidEdu.com has been a valuable partner in this effort."</p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/youtube.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Samuel Kim</p>
              <p class="testimonial-job">HR Manager</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"As a Project Manager at Foursquare, I am always looking for ways to keep my team up-to-date on the latest skills and trends in the industry. RapidEdu.com has been a fantastic resource for us, providing high-quality courses that have helped our team members to enhance their skills and stay ahead of the curve."</p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/foursquare.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Isabella Rodriguez</p>
              <p class="testimonial-job">Project Manager</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"As a Product Manager at Amazon, I am constantly looking for ways to help my team members develop new skills and stay up-to-date with the latest industry trends. RapidEdu.com has been an excellent resource for us, providing a wide range of high-quality courses that have helped our team members grow both professionally and personally."</p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/amazon.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Olivia Chen</p>
              <p class="testimonial-job">Product Manager</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>"As a Customer Support representative at LinkedIn, I have seen firsthand the impact that RapidEdu.com has had on our members. The high-quality courses offered by RapidEdu.com have helped our members develop their skills and advance their careers, which has led to a more engaged and productive workforce."</p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/linkedin.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Alexander Patel</p>
              <p class="testimonial-job">Customer Support</p>
            </div>
          </div>
        </div>
        <div class="testimonial">
          <div class="testimonial-content">
            <p>""As a Customer Support representative at Instagram, I am always looking for ways to provide our users with the best possible experience. RapidEdu.com has been a valuable resource for us, providing high-quality courses that have helped our team members improve their skills and provide better support to our users."</p>
          </div>
          <div class="testimonial-author">
            <div class="testimonial-image">
              <img src="{% static 'images/instagram.png' %}" alt="Customer Image">
            </div>
            <div class="testimonial-details">
              <p class="testimonial-name">Ethan Nguyen</p>
              <p class="testimonial-job">Customer Support</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Add the HTML code for the chat icon -->
  <div id="chatbot-icon">
    <img src="{% static 'images/chatbox-icon.svg' %}" alt="Chatbot Icon">
</div>
<!-- Add the HTML code for the message element -->
<div id="message">
  <span>Hello! Want fast help?, click the icon below</span>
</div>
<!-- Add the HTML code for the chat window -->
<div id="chat-window">
    <div class="chat-header">
      <div class="avatar-container">
        <img src="{% static 'images/chatbox-icon.svg' %}" alt="Chatbot Avatar" class="avatar">
    </div>
        <div class="name-container">
            <span class="name">Chatbot</span>
            <img src="{% static 'images/online.jpg' %}" alt="Online" class="status">
          </div>
        <button type="button" class="close-button" onclick="closeChatWindow()">&times;</button>
    </div>
    <div class="chat-container">
        <div class="chat-message bot-message">
            <div class="avatar-container">
                <img src="{% static 'images/chatbox-icon.svg' %}" alt="Chatbot Avatar" class="avatar">
            </div>
            <div class="message-container">
                <div class="message-text">
                    <span class="text">Hello!, do you have an question about our courses or prices let me know</span>
                </div>
            </div>
        </div>
    </div>
    <div class="input-container">
        <div class="avatar-container">
            <img src="{% static 'images/chatbox-icon.svg' %}" alt="User Avatar" class="avatar">
        </div>
        <div class="message-container">
            <input type="text" class="form-control" id="message-input" placeholder="Type your message...">
        </div>
        <button type="button" class="send-button" id="send-button"><i class="fa fa-paper-plane"></i></button>
    </div>
</div>

  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{%endblock%}